<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggerSection" type="ABC4TrustSmartCard.LoggerSection, ABC4TrustSmartCard"/>
    <section name="timeProfileSection" type="ABC4TrustSmartCard.TimeProfileSection, ABC4TrustSmartCard"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="timeprofile" value="false"/>
    <add key="logToFile" value="false"/>
  </appSettings>
  <loggerSection>
    <logger loggerName="std_out" fileBaseName="uprove-log" path="." />
    <logger loggerName="debug_out" fileBaseName="uprove-log-debug" path="." />
    <logger loggerName="timeProfile" fileBaseName="uprove-timeprofile-log" path="." />
  </loggerSection>
  <timeProfileSection>
    <!-- timeAs valid values are miliseconds or seconds-->
    <timeProfile loggerToUse="timeProfile" timeAs="miliseconds" />
  </timeProfileSection>

</configuration>
