<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <configSections>
    <section name="loggerSection" type="ABC4TrustSmartCard.LoggerSection, ABC4TrustSmartCard"/>
    <section name="timeProfileSection" type="ABC4TrustSmartCard.TimeProfileSection, ABC4TrustSmartCard"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="baseAddress" value="http://localhost:32123/" />
    <add key="apiPath" value="/uprove/api" />
    <add key="apiInfoPath" value="/uprove/api/info" />
    <add key="apiIssuerPath" value="/uprove/api/issuer"/>
    <add key="apiProverPath" value="/uprove/api/prover"/>
    <add key="timeprofile" value="true"/>
    <add key="logToFile" value="false"/>
    <add key="storePath" value="c:\temp"/>
  </appSettings>
  <loggerSection>
    <logger loggerName="std_out" fileBaseName="uprove-log" path="." />
    <logger loggerName="debug_out" fileBaseName="uprove-log-debug" path="." />
    <logger loggerName="timeProfile" fileBaseName="uprove-timeprofile-log" path="." />
  </loggerSection>
  <timeProfileSection>
    <!-- timeAs valid values are miliseconds or seconds-->
    <timeProfile loggerToUse="timeProfile" timeAs="miliseconds" />
  </timeProfileSection>
</configuration>