<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggerSection" type="abc4trust_uprove.LoggerSection, ABC4Trust-UProve"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <appSettings>
    <add key="timeprofile" value="false"/>
    <add key="logToFile" value="false"/>
  </appSettings>
  <loggerSection>
    <logger loggerName="out_console" fileBaseName="uprove-log" path="." />
  </loggerSection>

</configuration>
