<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="baseAddress" value="http://localhost:32123/" />
    <add key="apiPath" value="/uprove/api" />
    <add key="apiInfoPath" value="/uprove/api/info" />
    <add key="apiIssuerPath" value="/uprove/api/issuer"/>
    <add key="apiProverPath" value="/uprove/api/prover"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="storePath" value="c:\temp"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="UProveWCFServiceLib.UProveRestServiceIssuer">
        <endpoint address="" binding="webHttpBinding" contract="UProveWCFServiceLib.IUProveRestServiceIssuer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/UProveWCFServiceLib/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="UProveWCFServiceLib.UProveRestServiceInfo">
        <endpoint address="" binding="webHttpBinding" contract="UProveWCFServiceLib.IUProveRestServiceInfo">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/UProveWCFServiceLib/UProveRestServiceInfo/" />
          </baseAddresses>
        </host>
      </service>
      <service name="UProveWCFServiceLib.UProveRestServiceProver">
        <endpoint address="" binding="webHttpBinding" contract="UProveWCFServiceLib.IUProveRestServiceProver">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/UProveWCFServiceLib/UProveRestServiceProver/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="SecureWebBinding">
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <!-- <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" /> -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>