target
abc4trust-xml/META-INF/
abc4trust-xml/target/
abce-components/target/
abce-interfaces/META-INF/
abce-interfaces/target/
abce-services/target/
firefoxplugin/integration/target/
integration-test-inspector/target/
integration-test-issuer/target/
integration-test-revocation/target/
integration-test-user/target/
integration-test-verifier/target/
service-helper/META-INF/
service-helper/target/
test-tools/target/
ui-osgi-dependencies/META-INF/
ui-osgi-dependencies/target/
abc4trust-xml/.classpath
abc4trust-xml/.project
abc4trust-xml/.settings/
abce-components/.classpath
abce-components/.project
abce-components/.settings/
abce-interfaces/.classpath
abce-interfaces/.project
abce-interfaces/.settings/
abce-services/.classpath
abce-services/.project
abce-services/.settings/
demo/
firefoxplugin/integration/.classpath
firefoxplugin/integration/.project
firefoxplugin/integration/.settings/
integration-test-inspector/.classpath
integration-test-inspector/.project
integration-test-inspector/.settings/
integration-test-issuer/.classpath
integration-test-issuer/.project
integration-test-issuer/.settings/
integration-test-revocation/.classpath
integration-test-revocation/.project
integration-test-revocation/.settings/
integration-test-user/.classpath
integration-test-user/.project
integration-test-user/.settings/
integration-test-verifier/.classpath
integration-test-verifier/.project
integration-test-verifier/.settings/
service-helper/.classpath
service-helper/.project
service-helper/.settings/
test-tools/.classpath
test-tools/.project
test-tools/.settings/
ui-osgi-dependencies/.classpath
ui-osgi-dependencies/.project
ui-osgi-dependencies/.settings/
dotNet
uprove
abce-services/revocation_storage/
abce-components/uprove-timeprofile-log.log
*.versionsBackup
**/*.versionsBackup
**/uprove-timeprofile-log.log
integration-test-inspector/uprove-timeprofile-log.log
integration-test-issuer/uprove-timeprofile-log.log
integration-test-revocation/uprove-timeprofile-log.log
integration-test-verifier/uprove-timeprofile-log.log
service-helper/uprove-timeprofile-log.log
abce-services/tmp/
jetty-package/.classpath
jetty-package/.project

